services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - /app/node_modules 
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - BUN_WATCH_USE_POLLING=true
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
          ignore:
            - node_modules/
        - action: rebuild
          path: ./backend/package.json